h1 {
    font-weight: normal;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

#score, #info {
    text-align: center;
    font-size: 30px;
    margin: 5px 0;
}

#container{
    margin: 0 auto;
    width: 900px;
}

#gametext {
    width: 420px;
    float: right;
    position: relative;
    top: 200px;
}

#gamearea {
    background: rgb(177, 244, 221);
}

h2 {
    clear: right;
}
